[package]
name = "xitca-client"
version = "0.1.0"
edition = "2021"

[features]
default = ["http1"]
http1 = ["httparse", "tokio-util", "xitca-http/http1"]
http2 = ["h2", "itoa", "xitca-http/http2"]
http3 = ["h3", "h3-quinn", "quinn/tls-rustls", "itoa", "async-stream", "tokio-rustls", "webpki-roots"]
openssl = ["openssl-crate", "tokio-openssl"]
rustls = ["tokio-rustls", "webpki-roots"]
json = ["serde", "serde_json"]
websocket = ["http-ws", "futures-util/sink"]

# used to test niche client side usage and correctness of server implemenation:
# - http/2 clear text over plain tcp connection
# - http/3 connection to server with self signed certificates.
dangerous = ["tokio-rustls/dangerous_configuration"]

[dependencies]
xitca-http = { version = "0.1", default-features = false, features = ["runtime"] }
xitca-unsafe-collection = "0.1"

futures-core = { version = "0.3.17", default-features = false, features =["alloc"] }
futures-util = { version = "0.3.17", default-features = false, features =["alloc"] }
pin-project-lite = "0.2.9"
tokio = { version = "1.27", features = ["io-util", "rt", "sync", "time"] }
tracing = { version = "0.1.36", default-features = false }

# http/1 support
httparse = { version = "1.8.0", optional = true }
tokio-util = { version = "0.7", features = ["io"], optional = true }

# http/2 support
h2 = { version = "0.3.7", optional = true }

# http/3 support
h3 = { version = "0.0.2", optional = true }
h3-quinn = { version = "0.0.2", optional = true }
quinn = { version = "0.9", optional = true }
async-stream = { version = "0.3", optional = true }

# http/2 and http/3 shared
itoa = { version = "1", optional = true }

# openssl support
openssl-crate = { package = "openssl", version = "0.10", optional = true }
tokio-openssl = { version = "0.6.3", optional = true }

# rustls, http3 and dangerous features shared support
tokio-rustls = { version = "0.23", optional = true }
webpki-roots = { version = "0.22", optional = true }

# serde support
serde = { version = "1.0.130", default-features = false, optional = true }

# json support
serde_json = { version = "1", optional = true }

# websocket support
http-ws = { version = "0.1", default-features = false, optional = true }

[dev-dependencies]
async-trait = "0.1.51"
tokio = { version = "1.27", features = ["macros"] }
