[workspace]
members = [
    "client",
    "codegen",
    "http",
    "io",
    "postgres",
    "router",
    "server",
    "service",
    "test",
    "web",
    "http-encoding",
    "http-file",
    "http-multipart",
    "http-ws",
    "unsafe_collection"
]

[patch.crates-io]
xitca-client = { path = "./client" }
xitca-codegen = { path = "./codegen" }
xitca-http = { path = "./http" }
xitca-io = { path = "./io" }
xitca-postgres = { path = "./postgres" }
xitca-router = { path = "./router" }
xitca-server = { path = "./server" }
xitca-service = { path = "./service" }
xitca-web = { path = "./web" }
xitca-unsafe-collection = { path = "./unsafe_collection" }
http-encoding = { path = "./http-encoding" }
http-file = { path = "http-file" }
http-multipart = { path = "./http-multipart" }
http-ws = { path = "./http-ws" }

h3 = { git = "https://github.com/hyperium/h3.git" }
h3-quinn = { git = "https://github.com/hyperium/h3.git" }
postgres-protocol = { git = "https://github.com/fakeshadow/rust-postgres.git", branch = "protocol/export_bytes" }

[profile.release]
lto = true
opt-level = 3
codegen-units = 1
