[package]
name = "xitca-io"
version = "0.1.0"
edition = "2021"

[features]
default = []
http3 = ["futures-core", "quinn", "async-channel"]

[dependencies]
bytes = "1.2"
tokio = { version = "1", features = ["net", "io-util"] }

# http/3 support
async-channel = { version = "1.6.1", optional = true }
futures-core = { version = "0.3.17", optional = true }
quinn = { version = "0.8", optional = true }
