[package]
name = "xitca-http"
version = "0.1.0"
edition = "2021"

[features]
default = ["http1"]
http1 = ["httparse", "itoa"]
http2 = ["h2", "futures-util/alloc"]
http3 = ["xitca-io/http3", "futures-util/alloc", "futures-intrusive", "h3", "h3-quinn"]
openssl = ["futures-task", "openssl-crate", "tokio-openssl", "tokio-util/io"]
rustls = ["futures-task", "tokio-rustls", "tokio-util/io"]
native-tls = ["futures-task", "native-tls-crate/alpn", "tokio-native-tls", "tokio-util/io"]

# unstable features that are subject to be changed at anytime.
util-service = ["matchit"]
handler-service-impl = []

[dependencies]
xitca-io = "0.1"
xitca-service = "0.1"

futures-core = "0.3.17"
http = "0.2.5"
httpdate = "1.0"
pin-project-lite = "0.2.7"
socket2 = { version = "0.4.2", features = ["all"] }
tokio = { version = "1.12", features = ["io-util", "time"] }
tracing = { version = "0.1.29", default-features = false }

# tls support shared
futures-task = { version = "0.3.17", default-features = false, optional = true }
tokio-util = { version = "0.6", optional = true }

# openssl support
openssl-crate = { package = "openssl", version = "0.10", optional = true }
tokio-openssl = { version = "0.6.3", optional = true }

# rustls support
tokio-rustls = { version = "0.23", optional = true }

# native tls support
native-tls-crate = { package = "native-tls", version = "0.2.7", optional = true }
tokio-native-tls = { version = "0.3", optional = true }

# http/1 support
httparse = { version = "1.5.1", optional = true }
itoa = { version = "0.4.7", optional = true }

# http/2 support
h2 = { version = "0.3", optional = true }
futures-util = { version = "0.3.17", default-features = false, optional = true }

# http/3 support
futures-intrusive = { version = "0.4", optional = true }
h3 = { version = "0.0.0", optional = true }
h3-quinn = { version = "0.0.0", optional = true }

# util service support
matchit = { version = "0.4.4", optional = true }

[dev-dependencies]
tokio = { version = "1.12", features = ["macros", "rt"] }
