[package]
name = "xitca-http"
version = "0.1.0"
edition = "2021"

[features]
# default include only http1.
default = ["http1"]
# http1 specific feature.
http1 = ["httparse", "itoa", "runtime"]
# http2 specific feature.
http2 = ["h2", "fnv", "futures-util/alloc", "runtime"]
# http3 specific feature.
http3 = ["xitca-io/http3", "futures-util/alloc", "h3", "h3-quinn", "runtime"]
# openssl as server side tls.
openssl = ["dep:openssl", "runtime"]
# rustls as server side tls.
rustls = ["xitca-tls/rustls", "dep:rustls", "runtime"]
# rustls as server side tls.
rustls-uring = ["rustls", "xitca-tls/rustls-uring", "xitca-io/runtime-uring"]
# rustls as server side tls.
native-tls = ["dep:native-tls", "runtime"]
# async runtime feature.
runtime = ["xitca-io/runtime", "tokio"]

# unstable features that are subject to be changed at anytime.
io-uring = ["xitca-io/runtime-uring", "tokio-uring"]
util-service = ["xitca-router"]

[dependencies]
xitca-io = "0.1"
xitca-service = { version = "0.1", features = ["alloc", "std"] }
xitca-unsafe-collection = { version = "0.1", features = ["bytes"] }

futures-core = "0.3.17"
http = "0.2.8"
httpdate = "1.0"
pin-project-lite = "0.2.7"
tracing = { version = "0.1.32", default-features = false }

# openssl support
openssl = { version = "0.10", optional = true }

# rustls support
rustls = { version = "0.21", optional = true }

# native tls support
native-tls = { version = "0.2.7", features = ["alpn"], optional = true }

# tls support shared
xitca-tls = { version = "0.1", optional = true }

# http/1 support
httparse = { version = "1.8", optional = true }
itoa = { version = "1", optional = true }

# http/2 support
h2 = { version = "0.3.17", optional = true }
fnv = { version = "1.0.7", optional = true }
futures-util = { version = "0.3.17", default-features = false, optional = true }

# http/3 support
h3 = { version = "0.0.2", optional = true }
h3-quinn = { version = "0.0.2", optional = true }

# async runtime support.
tokio = { version = "1.27", features = ["rt", "time"], optional = true }

# util service support
xitca-router = { version = "0.1", optional = true }

# io-uring support
tokio-uring = { version = "0.4.0", features = ["bytes"], optional = true }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
socket2 = { version = "0.5.1", features = ["all"] }

[dev-dependencies]
tokio = { version = "1.27", features = ["macros", "rt"] }
