[package]
name = "xitca-server"
version = "0.1.0"
edition = "2021"

[features]
# server implementation of http/3
http3 = ["xitca-io/http3"]
# server implementation on tokio-uring runtime.
io-uring = ["tokio-uring"]

[dependencies]
xitca-io = "0.1"
xitca-service = "0.1"
xitca-unsafe-collection = "0.1"

futures-core = "0.3"
socket2 = "0.4.4"
tokio = { version = "1.5", features = ["rt-multi-thread", "signal", "sync", "time"] }
tracing = { version = "0.1.29", default-features = false }

# io-uring support
tokio-uring = { version = "0.3", optional = true }

[dev-dependencies]
bytes = "1.2"
env_logger = "0.9"
tokio = { version = "1.5", features = ["io-util", "macros"] }
