[package]
name = "xitca-web"
version = "0.1.0"
edition = "2021"

[features]
default = []
http2 = ["xitca-http/http2"]
http3 = ["xitca-http/http3", "xitca-io/http3"]
io-uring = ["xitca-server/io-uring"]
openssl = ["xitca-http/openssl", "openssl-crate"]
rustls = ["xitca-http/rustls", "rustls-crate"]
json = ["futures-util", "serde", "serde_json"]
url-encoded = ["serde", "serde_urlencoded"]

[dependencies]
xitca-http = { version = "0.1", features = ["util-service"] }
xitca-io = "0.1"
xitca-server = { version = "0.1" }
xitca-service = "0.1"

futures-core = "0.3"

# openssl feature
openssl-crate = { package = "openssl", version = "0.10", optional = true }

# rustls feature
rustls-crate = { package = "rustls", version = "0.20", optional = true }

# json feature
futures-util = { version = "0.3", default-features = false , optional = true }
serde = { version = "1", optional = true }
serde_json = { version = "1", optional = true }

# url-encoded feature
serde_urlencoded = { version = "0.7.1", optional = true }

[dev-dependencies]
serde = { version = "1", features = ["derive"] }
tokio = { version = "1.12", features = ["rt", "macros"] }
